{% extends 'base.html.twig' %}

{% block title %} Panier {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Panier</h1>
        <table class="table table-bordered">
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Prix Total</th>
                <th>Action</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.product.Name}}</td>
                <td>{{item.product.Price}} €</td>
                <td><a href="{{path('app_cart_product_remove', {'id':item.product.id})}}" class="text-danger text-decoration-none">-</a> {{item.quantity}} <a href="{{path('app_cart_new', {'id':item.product.id})}}" class="text-danger text-decoration-none">+</a></td>
                <td>{{item.product.price * item.quantity}}</td>
                <td>
                    <a onclick= "return confirm('voulez vous vraiment supprimer cet article du panier?')" href="{{path('app_cart_product_line_remove', {'id':item.product.id})}}" class="text-danger text-decoration-none">Supprimer du Panier</a>
                </td>
            </tr>

            {% else %}
                <p> Votre Panier est vide </p>
            {% endfor %}
        </table>
        {% if total > 0 %}
            <h2>Total à payer : {{total}} €</h2>
            <div class="row w-25">
                <a href="{{path('app_order')}}" data-turbo="false" class="btn btn-outline-primary">Valider la Commande </a>
                <a onclick= "return confirm('voulez vous vraiment supprimer TOUT le panier?')" href="{{path('app_cart_remove')}}" class="btn btn-outline-danger">Supprimer la commande </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
