
{% extends 'base.html.twig' %}

{% block title %}Sous-catégories{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-5 mt-5">{{ subCategory.name }}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 mt-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('uploads/images/'~product.image)}}" class="imgproduct card-img-top" alt="image des produits">
                    <div class="card-body">
                        <a class="titleProductLink" href="{{ path('app_home_product_show',{'id':product.id}) }} "><h5 class="card-title titleProduct">{{ product.name }}</h5></a>
                        <p class="card-text">{{ product.caption|slice(0,10) }}...</p>
                        <h3>{{ product.price }} €</h3> 
                        <a href="{{ path('app_cart_new',{'id':product.id}) }}" class="btn btn-outline-success">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}