{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}



{% block body %}

 {% include 'layouts/_flash_message.html.twig' %}
    <div class="example-wrapper divHomePage">

        <h1 class="homeTitle"> MotoShop ... </h1>
        <h2 class="homeSlogan"> Partir, c'est pourrir un pneu</h2>
    </div>
    
    {# <div class="imgHomePage">
        <figure>
        <div class="divImg">
        <img class="imgHome" src="https://m.media-amazon.com/images/I/61aPtaerWBL._AC_UY1000_.jpg" alt="vieux">
        <figcaption>L'équipement</figcaption>
        </div>

        <div class="divImg">
        <img class="imgHome2" src="https://i.pinimg.com/736x/e8/61/8d/e8618dc5010c240338bd3452611c1381.jpg" alt="kawa">
        <figcaption>Les Motos</figcaption>
        </div>

        <div class="divImg">
        <img class="imgHome3" src="https://media.istockphoto.com/id/1244728058/fr/vectoriel/scooter-d%C3%A9quitation-dours-avec-le-li%C3%A8vre.jpg?s=612x612&w=0&k=20&c=x9kycpdxMtpMoiOVEKOZVvhOWveVfGcN3sS7G6x-TT4=" alt="edlapoignee">
        <figcaption>Les Scooters</figcaption>
        </div>

        <div class="divImg">
        <img class="imgHome4" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgtyrFKLzDrdt_HGqdc5LtuBhnmIc2JJFfpgYQhrrEY7D0KnCCYc00gdqnK1RlRGVzlsPxsBskM0nKaULDk382K-3lKpVqqR7VjbDVJKrxDJUQ1CGmlDxaUp4hN52EbYFbmv3acLo9I6FG9/s1600/Cam+am+spyder+denis+bar+team+Zipp%C3%A9.jpg" alt="canam">
        <figcaption>Les 3 Roues</figcaption>
        </figure>
        </div>
    </div> #}

<div class="divBody">
    <div class="row">
    {% for product in products %}
        <div class="container col-md-3 cardMargin">
            <div class=" container card">
                <a href="{{ path('app_home_product_show', {'id':product.id})}}"><img src="{{asset('uploads/images/' ~ product.image)}}" alt=""></a>
                <h5 class="nameP">{{product.name}}</h5>
                <h2 class="priceP">{{product.price}} €</h2> 
                <h5>{{product.stock}} disponible(s)</h5>
                <p class="card-text captionP">{{product.caption | slice(0,20) }}...</p>
                {% if product.stock > 0 %}
                    <a href="{{path('app_cart_new', {'id':product.id})}}" class="btn btn-primary">Fonce au panier</a>
                {% else %}
                    <span> Rupture de Stock </span>
                {% endif %}

            </div>
        </div>
    {% endfor %}
    </div>
    {{ knp_pagination_render(products,'layouts/paginator.html.twig')}}

</div>

{% endblock %}

