{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}



{% block body %}

 {% include 'layouts/_flash_message.html.twig' %}
    <div class="example-wrapper divHomePage">

        <h1 class="homeTitle"> MotoShop ... </h1>
        <h2 class="homeSlogan"> Partir, c'est pourrir un pneu</h2>
    </div>
    

<div class="divBody">
    <div class="row">
    {% for product in products %}
        <div class="container col-md-3 cardMargin">
            <div class=" container card">
                <a href="{{ path('app_home_product_show', {'id':product.id})}}"><img src="{{asset('uploads/images/' ~ product.image)}}" alt=""></a>
                <h5 class="nameP">{{product.name}}</h5>
                <h2 class="priceP">{{product.price}} €</h2> 
                <h5>{{product.stock}} disponible(s)</h5>
                <p class="card-text captionP">{{product.caption | slice(0,20) }}...</p>
                {% if product.stock > 0 %}
                    <a href="{{path('app_cart_new', {'id':product.id})}}" class="btn btn-primary">Fonce au panier</a>
                {% else %}
                    <span class="border rounded border-danger bg-light p-2"> Rupture de Stock </span>
                {% endif %}

            </div>
        </div>
    {% endfor %}
    </div>
    {{ knp_pagination_render(products,'layouts/paginator.html.twig')}}

</div>

{% endblock %}

