{% extends 'base.html.twig' %}

{% block title %}Page Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homeShowPage.css') }}">
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="prodTitle">{{product.Name}}</h1>

    <div class="productDiv">
        <div class="card mb-3 cardProd">
            <img src="{{asset('uploads/images/' ~ product.image)}}" class="card-img-top illustrProd" alt="...">
                <div class="card-body cardBody">
                    <h5 class="card-title nameCss">{{product.Name}}</h5>
                    <p class="card-text captionCss">{{product.caption}}</p>
                    <p class="card-text priceCss"> {{product.price}} € </p>
                    <a class="btn btn-primary" href="">Fonce au panier </a>
                </div>
        </div>
    </div>
    <h2 class="mt-5 mb-5"> Derniers articles ajoutés </h2>
    <div class="row">
    {% for product in products %}
        <div class="col-md-3 cardMargin">
            <div class="card">
                <a class="imgCss" href="{{ path('app_home_product_show', {'id':product.id})}}"><img src="{{asset('uploads/images/' ~ product.image)}}" alt=""></a>
                <h5 class="nameP">{{product.name}}</h5>
                <h3 class="priceP">{{product.price}} €</h3> 
                <p class="card-text captionP">{{product.caption | slice(0,20) }}...</p>
                <a href="" class="btn btn-primary">Fonce au panier</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}