{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}


{% block body %}
<div class="container"> 

<h1> FACTURE n°{{ order.id}}</h1>
<span>Date de la Commande : {{ order.createdAt | date}}</span>

        <tr>
            <div>Nom: {{ order.firstName }}</div>
            <div>Prénom: {{ order.lastName }}</div>
            <div>Téléphone: {{ order.phone }}</div>
            <div>Adresse : {{ order.adress }}</div>
            <div>Ville : {{ order.city.name }}</div>
            <div>Crée le : {{ order.createdAt | date('d-m-y H:i')}}</div>
        </tr>
    <table class="table table-bordered">
 
            <tr>
            <th> Dénomination</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>total</th>
            </tr>
            {% for orderProduct in order.orderProducts %}
            <tr>
                <td>{{orderProduct.product.name }} </td>
                <td>{{orderProduct.product.price }}</td>
                <td>{{orderProduct.quantity }}</td>
                <td>{{orderProduct.product.price * orderProduct.quantity }}</td>
            </tr>
            {% endfor %}


    </table>
    <h5>Frais de livraison : {{order.city.shippingCost}} €</h5>
    <h5>Total de la commande:  {{order.totalPrice}} €</h5>
    <h5 class='mb-5 fw-bold'>Total à payer : {{order.totalPrice + order.city.shippingCost}} €</h5>
</div>
{% endblock %}
