{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/orderPage.css') }}">
{% endblock %}

{% block body %}


<div class="container ">
    <div class="row">
        <div class="col-5">
        <h1 class='mt-4 mb-4'>Commande</h1>
        {{form_start(form)}}
            {{ form_widget (form) }}
            <input class="btn btn-outline-primary " type="submit" value="Continuer le paiement" data-turbo="false">
        {{form_end(form)}}
        </div>
        <div class="container col-4 orderDiv">
            <span class="mb-2">Montant à Payer : </span>
            <h3><span id="card-price">{{total}} €</span></h3>

            <span  class="mb-2">Frais de Livraison</span> 
            <h3><span id="shippingCost"> </span> €</h3> 

            <span  class="mb-2">TOTAL à Payer</span> 
            <h3><span class="total-price"> </span> €</h3> 
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){ //Lorsque la page est prete la fonction en AJAX est pret a etre lancé
       const citySelector = $('#order_city'); //Selectionne l'élément HTML avec l'ID "order_city" (pour nous, c'est le champs select où l'on choisi la ville)
       const cityValue = citySelector.val(); // Récupère la valeur dans la const cityselector
    const url = `/city/${cityValue}/shipping/cost`; // Construit et utiliser une URL relative (au lieu d'une URL absolue) de la requête AJAX en fonction de la valeur de cityValue
        
        function ajaxRequest(url) {
        //requete ajax
        $.ajax({
            url: url,
            type: 'GET', 
            success: function(response){
                const newResponse = JSON.parse(response)
                if (parseInt(newResponse.status) === 200){
                    console.log(newResponse.status)
                    $("#shippingCost").text(newResponse.content)
                    const cardPrice = parseInt($('#card-price').text());
                    const shippingCost = parseInt($('#shippingCost').text());
                    $('.total-price').text(cardPrice + shippingCost);
                }
            },
            error: function (xhr, status, error){
            console.error('Erreur Ajax:', error);
            }
        })
        }
        ajaxRequest(url)

        // Activer le changement de ville et nouveau frais de port
            citySelector.on('change', function(){
            const newCityValue = $(this).val();
            const newUrl = `/city/${newCityValue}/shipping/cost`;
            ajaxRequest(newUrl)
        });
    })
</script>
{% endblock %}
