{% extends 'base.html.twig' %}

{% block title %}historique des commandes {% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}



{% block body %}

    <h1>Commandes</h1>
    <div class="container">
     
    <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Ville</th>
        </tr>
        {% for order in orders %}  
            <tr>
                <td>{{ order.firstName }}</td>
                <td>{{ order.lastName }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.adress }}</td>
                <td>{{ order.city.name }}</td>
            </tr>
        {% endfor %}
    </table>
    
    </div>

<div>
    {{ knp_pagination_render(orders,'layouts/paginator.html.twig')}}
</div>


{% endblock %}